{% extends 'base.html.twig' %}

{% block title %}Location index{% endblock %}

{% block body %}
    <h1 class="bg-primary text-white p-3 text-center">Location Index</h1>

    <table class="table text-center">
        <thead>
            <tr class="custom-bg-purchase">
                <th>Id</th>
                <th>Name</th>
                <th>Code</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for location in locations %}
            <tr>
                <td>{{ location.id }}</td>
                <td>{{ location.name }}</td>
                <td>{{ location.code }}</td>
                <td>{{ location.description }}</td>
                <td>
                    <a href="{{ path('app_pharmaciegros_entity_location_show', {'id': location.id}) }}">show</a>
                    <a href="{{ path('app_pharmaciegros_entity_location_edit', {'id': location.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="btn-purchase">
    <a href="{{ path('app_pharmaciegros_entity_location_new') }}" class="btn btn-primary">Create New</a>
    </div>
{% endblock %}
