{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container py-4">
        <div class="row g-4 justify-content-center">

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center">
                <a href="{{ path('app_pharmaciegros_entity_product_index') }}" class="text-decoration-none text-dark">
                    <div class="rounded-circle bg-primary d-flex align-items-center justify-content-center mx-auto mb-2" style="width:80px; height:80px;">
                        <i class="bi bi-box-seam fs-2 text-white"></i>
                    </div>
                    <div>Catalogue de Produit</div>
                </a>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center">
                <a href="{{ path('app_pharmaciegros_entity_category_index') }}" class="text-decoration-none text-dark">
                    <div class="rounded-circle bg-success d-flex align-items-center justify-content-center mx-auto mb-2" style="width:80px; height:80px;">
                        <i class="bi bi-tags fs-2 text-white"></i>
                    </div>
                    <div>Catégorie des produits</div>
                </a>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center">
                <a href="{{ path('app_pharmaciegros_entity_transfer_index') }}" class="text-decoration-none text-dark">
                    <div class="rounded-circle bg-warning d-flex align-items-center justify-content-center mx-auto mb-2" style="width:80px; height:80px;">
                        <i class="bi bi-arrow-left-right fs-2 text-white"></i>
                    </div>
                    <div>Transfert</div>
                </a>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center">
                <a href="{{ path('app_pharmaciegros_entity_request_new') }}" class="text-decoration-none text-dark">
                    <div class="rounded-circle bg-danger d-flex align-items-center justify-content-center mx-auto mb-2" style="width:80px; height:80px;">
                        <i class="bi bi-envelope fs-2 text-white"></i>
                    </div>
                    <div>Demande</div>
                </a>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center">
                <a href="{{ path('transfert_enattente') }}" class="text-decoration-none text-dark">
                    <div class="rounded-circle bg-info d-flex align-items-center justify-content-center mx-auto mb-2" style="width:80px; height:80px;">
                        <i class="bi bi-hourglass-split fs-2 text-white"></i>
                    </div>
                    <div>Transfert en attente</div>
                </a>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center">
                <a href="{{ path('request_enattente') }}" class="text-decoration-none text-dark">
                    <div class="rounded-circle bg-secondary d-flex align-items-center justify-content-center mx-auto mb-2" style="width:80px; height:80px;">
                        <i class="bi bi-clock-history fs-2 text-white"></i>
                    </div>
                    <div>Demande en attente</div>
                </a>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center">
                <a href="{{ path('app_pharmaciegros_entity_purchaseorder_index') }}" class="text-decoration-none text-dark">
                    <div class="rounded-circle bg-primary d-flex align-items-center justify-content-center mx-auto mb-2" style="width:80px; height:80px;">
                        <i class="bi bi-cart4 fs-2 text-white"></i>
                    </div>
                    <div>Commande</div>
                </a>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center">
                <a href="{{ path('app_pharmaciegros_entity_reception_index') }}" class="text-decoration-none text-dark">
                    <div class="rounded-circle bg-success d-flex align-items-center justify-content-center mx-auto mb-2" style="width:80px; height:80px;">
                        <i class="bi bi-box-arrow-in-down fs-2 text-white"></i>
                    </div>
                    <div>Réception</div>
                </a>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center">
                <a href="{{ path('app_pharmaciegros_entity_invoice_index') }}" class="text-decoration-none text-dark">
                    <div class="rounded-circle bg-warning d-flex align-items-center justify-content-center mx-auto mb-2" style="width:80px; height:80px;">
                        <i class="bi bi-file-earmark-text fs-2 text-white"></i>
                    </div>
                    <div>Facture Fournisseur</div>
                </a>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center">
                <a href="{{ path('app_pharmaciegros_entity_payment_index') }}" class="text-decoration-none text-dark">
                    <div class="rounded-circle bg-danger d-flex align-items-center justify-content-center mx-auto mb-2" style="width:80px; height:80px;">
                        <i class="bi bi-cash-stack fs-2 text-white"></i>
                    </div>
                    <div>Paiement</div>
                </a>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center">
                <a href="{{ path('app_pharmaciegros_entity_stockmovement_index') }}" class="text-decoration-none text-dark">
                    <div class="rounded-circle bg-info d-flex align-items-center justify-content-center mx-auto mb-2" style="width:80px; height:80px;">
                        <i class="bi bi-arrow-repeat fs-2 text-white"></i>
                    </div>
                    <div>Mouvement de stock</div>
                </a>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center">
                <a href="{{ path('app_pharmaciegros_entity_supplier_index') }}" class="text-decoration-none text-dark">
                    <div class="rounded-circle bg-secondary d-flex align-items-center justify-content-center mx-auto mb-2" style="width:80px; height:80px;">
                        <i class="bi bi-truck fs-2 text-white"></i>
                    </div>
                    <div>Fournisseur</div>
                </a>
            </div>

        </div>
    </div>
{% endblock %}

