{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <a href="{{ path('app_pharmaciegros_entity_category_index') }}">Catégorie des produits</a><br>
    <a href="{{ path('app_pharmaciegros_entity_dispensation_index') }}">Dispensation</a><br>
    <a href="{{ path('app_pharmaciegros_entity_invoice_index') }}">Facture</a><br>
    <a href="{{ path('app_pharmaciegros_entity_payment_index') }}">Paiement</a><br>
    <a href="{{ path('app_pharmaciegros_entity_product_index') }}">Produit</a><br>
    <a href="{{ path('app_pharmaciegros_entity_purchaseorder_index') }}">Bon de commande</a><br>
    <a href="{{ path('app_pharmaciegros_entity_reception_index') }}">Bon de récéption</a><br>
    <a href="{{ path('app_pharmaciegros_entity_stockmovement_index') }}">Mouvement de stock</a><br>
    <a href="{{ path('app_pharmaciegros_entity_supplier_index') }}">Fournisseur</a><br>
{% endblock %}
