{% extends 'base.html.twig' %}

{% block title %}Transfer{% endblock %}

{% block body %}
    <h1>Transfer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Status</th>
                <td>{{ transfer.status }}</td>
            </tr>
            <tr>
                <th>TransfertDate</th>
                <td>{{ transfer.transfertDate ? transfer.transfertDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ transfer.comment }}</td>
            </tr>
        </tbody>
    </table>
    <h3>Produit</h3>
    {% for t in transferline %}
        <p>{{ t.product.name }} : {{  t.quantity }}</p>
    {% endfor %}

    {% if transfer.type == 'TRANSFERT' %}
        <a href="{{ path('transfert_valider',{'id': transfer.id}) }}" class="btn btn-success">Valider</a>
    {% elseif transfer.type == 'REQUEST' %}
        <a href="{{ path('request_valider',{'id': transfer.id}) }}" class="btn btn-success">Valider</a>
    {% endif %}


    {{ include('pharmaciegros/transfer/_delete_form.html.twig') }}
{% endblock %}
