{% extends 'base.html.twig' %}

{% block title %}TransferLine{% endblock %}

{% block body %}
    <h1>TransferLine</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ transfer_line.id }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ transfer_line.quantity }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_pharmaciegros_entity_transfer_line_index') }}">back to list</a>

    <a href="{{ path('app_pharmaciegros_entity_transfer_line_edit', {'id': transfer_line.id}) }}">edit</a>

    {{ include('app/pharmaciegros/entity/transfer_line/_delete_form.html.twig') }}
{% endblock %}
