{% extends '../../base.html.twig' %}

{% block title %}Purchaseorderline{% endblock %}

{% block body %}
    <h1>Purchaseorderline</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ purchaseorderline.id }}</td>
            </tr>
            <tr>
                <th>Quantityordered</th>
                <td>{{ purchaseorderline.quantityordered }}</td>
            </tr>
            <tr>
                <th>Unitprice</th>
                <td>{{ purchaseorderline.unitprice }}</td>
            </tr>
            <tr>
                <th>Subtotal</th>
                <td>{{ purchaseorderline.subtotal }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_pharmaciegros_entity_purchaseorderline_index') }}">back to list</a>

    <a href="{{ path('app_pharmaciegros_entity_purchaseorderline_edit', {'id': purchaseorderline.id}) }}">edit</a>

    {{ include('app/pharmaciegros/entity/purchaseorderline/_delete_form.html.twig') }}
{% endblock %}
