{% extends 'base.html.twig' %}

{% block title %}Patient index{% endblock %}

{% block body %}
    <h1>Patient index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Nom</th>
                <th>Prenoms</th>
                <th>Telephone</th>
                <th>Adresse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for patient in patients %}
            <tr>
                <td>{{ patient.id }}</td>
                <td>{{ patient.numero }}</td>
                <td>{{ patient.nom }}</td>
                <td>{{ patient.prenoms }}</td>
                <td>{{ patient.telephone }}</td>
                <td>{{ patient.adresse }}</td>
                <td>
                    <a href="{{ path('app_shared_entity_patient_show', {'id': patient.id}) }}">show</a>
                    <a href="{{ path('app_shared_entity_patient_edit', {'id': patient.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_shared_entity_patient_new') }}">Create new</a>
{% endblock %}
