{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}


{% block body %}

    <a href="{{ path('app_pharmaciegros_entity_product_new') }}">Ajouter un produit</a>
    <ul class="nav nav-tabs" id="productTabs" role="tablist">
        {% for category in categories %}
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if loop.first %}active{% endif %}"
                        id="{{ category.name | slug }}-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#{{ category.name | slug }}"
                        type="button"
                        role="tab">
                    {{ category.name }}
                </button>
            </li>
        {% endfor %}
    </ul>

    <div class="tab-content mt-3" id="productTabsContent">
        {% for category in categories %}
            <div class="tab-pane fade {% if loop.first %}show active{% endif %}"
                 id="{{ category.name | slug  }}"
                 role="tabpanel">
                <h5 class="mt-3">{{ category.name }}</h5>

                {% if category.products|length > 0 %}


                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Code</th>
                                    <th scope="col">Stock</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                        {% for product in category.products %}
                                <tr>
                                    <th scope="row">{{ product.name }}</th>
                                    <td>{{ product.code }}</td>
                                    <td>{{ product.stockAtPharmacy }}</td>
                                    <td><span><a href="{{ path('app_pharmaciegros_entity_product_edit', {'id': product.id}) }}">Modifier</a></span></td>
                                </tr>

                        {% endfor %}
                                </tbody>
                            </table>


                {% else %}
                    <div class="alert alert-info mt-3">Aucun produit dans cette catégorie.</div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
