{% extends 'base.html.twig' %}

{% block title %}Purchaseorder{% endblock %}

{% block body %}
    <h1>Purchaseorder</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ purchaseorder.id }}</td>
            </tr>
            <tr>
                <th>Orderdate</th>
                <td>{{ purchaseorder.orderdate ? purchaseorder.orderdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ purchaseorder.status }}</td>
            </tr>
            <tr>
                <th>Referencenumber</th>
                <td>{{ purchaseorder.referencenumber }}</td>
            </tr>
            <tr>
                <th>Totalamount</th>
                <td>{{ purchaseorder.totalamount }}</td>
            </tr>
        </tbody>
    </table>
    <h3>Ligne produit</h3>

    <table class="table">
        <tbody>
            <th>Produit</th>
            <th>Quantité</th>
            <th>Prix unitaire</th>
            <th>Sous-Total</th>
            {% for l in linepurchaseorder %}
                <tr>
                    <td>{{ l.product.name }}</td>
                    <td>{{ l.quantityordered }}</td>
                    <td>{{ l.unitprice }}</td>
                    <td>{{ l.subtotal}}</td>
                </tr>
            {% endfor %}
        </tbody>


    </table>



    <a href="{{ path('app_pharmaciegros_entity_purchaseorder_edit', {'id': purchaseorder.id}) }}">edit</a>

    {{ include('pharmaciegros/purchaseorder/_delete_form.html.twig') }}
{% endblock %}
