{% extends 'base.html.twig' %}

{% block title %}Purchaseorder{% endblock %}

{% block body %}
    <h1 class="bg-primary text-white p-3 text-center">Purchase Order</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ purchaseorder.id }}</td>
            </tr>
            <tr>
                <th>Order Date</th>
                <td>{{ purchaseorder.orderdate ? purchaseorder.orderdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ purchaseorder.status }}</td>
            </tr>
            <tr>
                <th>Reference Number</th>
                <td>{{ purchaseorder.referencenumber }}</td>
            </tr>
            <tr>
                <th>Total Amount</th>
                <td>{{ purchaseorder.totalamount }}</td>
            </tr>
        </tbody>
    </table>
    <h3 class="bg-primary text-white p-1 text-center">Ligne produit</h3>

    <table class="table text-center">
        <tbody>
            <th>Produit</th>
            <th>Quantité</th>
            <th>Prix unitaire</th>
            <th>Sous-Total</th>
            {% for l in linepurchaseorder %}
                <tr>
                    <td>{{ l.product.name }}</td>
                    <td>{{ l.quantityordered }}</td>
                    <td>{{ l.unitprice }}</td>
                    <td>{{ l.subtotal}}</td>
                </tr>
            {% endfor %}
        </tbody>


    </table>


    <div>
    <a href="{{ path('app_pharmaciegros_entity_purchaseorder_edit', {'id': purchaseorder.id}) }}" class="btn btn-primary" style="font-size: 1em">Edit</a>
    </div>
    {{ include('pharmaciegros/purchaseorder/_delete_form.html.twig') }}
{% endblock %}
